/*----- My custom styles -----*/
body{
    margin: 0px 0px 0px 0px;
}
a img
{
    border:none;
}

#pageWrapper{
    width: 100%;
    margin: 0 auto;
    font-family:"Arial Narrow"
}

header{
    margin: 0 auto;
    width: 100%;
    height: 130px;
    padding-top: 20px;

}
.header-part1{
    margin:0 auto;
    width: 960px;
    height: 80px;

}

.headerLogoCart {
    margin:0 auto;
    width: 960px;
}
/* Site logo */
header .logo{
    float: left;
    width: 230px;
    height: 70px;
}

/*----- Site cart -----*/

header .cart{
    float:right;
    width: 250px;
    height: 70px;
    text-align: right;
    position: relative;
}
header .cart a{
    text-decoration: none;
    font-style:normal;
}
header .cartImg{
    width: 135px;
    float: right;
}
header .cart img{
    float: left;
}
header .cartImg .cartText{
    float: right;
    font-size: 14px;
    color: black;
}

header .login{
    text-decoration: none;
    font-style:italic;
    padding-bottom: 15px;
    color: silver;
}
header .login a{
    text-decoration: none;
    font-style:italic;
    color: silver;
}
header .login a:hover {
    color: black;
}
.header-part2{
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    background-color: #FBFBFB;
    height:40px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0px silver;
    padding-top: 5px;
}

/*----- menu -----*/
#main-menu {
    width: 960px;
    margin:0 auto;
    list-style:none;
    height: 38px;
}
.menu-li {

    display: inline-block;
    float: left;
    height: 9px;
    line-height: 0;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 110px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 15px;
}
.menu-link {
    border-right: 2px solid silver;
    height: 9px;
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #898989;
    text-align: center;
    padding-top: 5px;
    width:100%;
}
.menu-li:last-of-type > .menu-link{
    border-right: none;
}
.menu-ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.ul-menu-sub-menu{
    margin-top: 30px ! important;
    width: 150px;
    display: none;
}
.menu-li-sub{
    text-align: left;
    position: relative;
    left:-10px;
    text-decoration: none;
    height: 15px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #FBFBFB;
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    -webkit-box-shadow:  1px 1px 3px 0px #e5e5e5;
    box-shadow:  1px 1px 3px 0px #e5e5e5;
    z-index: 9999 ! important;
}
.menu-link-sub-menu{
    text-decoration: none;
    color: #898989;

}

.menu-li .menu-link:after {
    position: absolute;
    width: 7px;
    height: 4px;
    right: 8px;
    top: 8px;
    margin-left: 5px;
    background: url(../img/menuArrowDown.png);
    content: '';
}
.menu-link:only-child:after {
    background: transparent;
}
.menu-li-sub:last-child{
    border-bottom: 0px;
}
.menu-li:last-of-type{
    background-image: none;
}
.menu-li:hover > .ul-menu-sub-menu {
    display: block;
}
.activeLink{
    border-bottom: 5px solid #ff7f50 ! important;
}
.activeLink > .menu-link{
    color: #363636;
}

.menu-link:hover{
    color: #363636;
}
.menu-li:hover{
    border-bottom: 5px solid #ff7f50 ! important;
}
.menu-li-sub:hover{
    background-color: silver;
}
.menu-li-sub:hover > .menu-link-sub-menu{
    color: white;
}/*

/*------ Search -----*/

.search{
    float: right;
    position: relative;
    height: 35px;
    margin-bottom: 5px;
    overflow:visible;
}
#search{
    top: 2px;
    height: 25px;
    width: 180px;
    position: relative;
    border: 1px solid silver;
    padding-left: 5px;
}
.search-link{
    position: absolute;
    width: 17px;
    height: 17px;
    top: 6px;
    right: 10px;
    background: url(../img/sprite.png) -33px 0px no-repeat;
}
.search-link:hover{
    background: url(../img/sprite.png) -33px -20px no-repeat;
}

/*----- Page ----*/
.page{
    width: 100%;
    background-color: #F0F0F0;
    float: left;
}
.page-content {
    margin:0 auto;
    width: 960px;
    overflow: auto;
}
.slider{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 410px;
    width: 100%;

}
.page-items{
    width: 100%;
    height: auto;
}
.item {
    width: 223px;
    height: 250px;
    float: left;
    margin-right: 22.6px;
    margin-bottom: 35px;
    position: relative;
}
.item-last{
    margin-right: 0px ! important;
}
.item-sale {
    left: 152px;
    position: absolute;
    top: 1px;
}
.item-img{
    float: left;
    height:197px;
    width:221px;
    margin-bottom: 15px;
}
.item-link{
    border: 1px solid silver;
}
.item-link:hover{
    border: 1px solid black;
}
item-info{
    background-color: red;
}
.item-name{
    float: left;
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    color: black;
}
.item-name:hover{
    color:silver;
}
.item-cost{
    float: left;
    text-decoration: none;
    color: #ff4500;
    font-size: 20px;
}
.discount{
    margin-left: 10px;
    float: left;
    text-decoration: none;
    font-size: 15px;
    color: silver;
}
/*------------ Footer ---------*/
footer{
    float: left;
    width: 100%;
    height: 130px;
    background-color: black ! important;
}
.footer-content{
    width: 960px;
    margin: 30px auto;
    height: auto;
    background-color: white ! important;
}
.footer-logo{
    float: left;
    width: 250px;
}
.logo-text{
    width: 100%;
    float: left;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}
.logo-copyright{
    padding-top: 15px;
    font-size: 10px;
    color: silver;
}
.link{
    text-decoration: none;
    color: silver;
}
.footer-menu{
    float: right;
    color: #ffffff;
}
.footer-ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.footer-li{
    width: auto ! important;
}
.footer-li:hover{
    border-bottom: none ! important;
}
.footer-a{
    font-size: 14px;
    color: silver ! important;
    padding-right: 5px;
    height: 5px;
}
.footer-a:hover, .link:hover{
    color: #ffffff ! important;
}
.footer-social-links{
    float: right;
    width: 450px;
    height: 20px;
}
.social-links-text{
    float: right;
    color: #ffffff;
    font-weight:bold;
    text-align: right;
    font-size: 14px;
    padding-top: 3px;
}
.footer-social-link-a{
    float: right;
}
.footer-social-image{
    width: 25px;
    height: 25px;
    opacity: 0.2;
    padding-left: 5px;

}
.footer-social-link-a:hover > .footer-social-image{
    opacity: 1;
}